@font-face {
    font-family: Varela;
    src: url(../../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter-Bold.ttf);
}
p {
    font-family: Inter;
}

#cat-container {
    position: relative;
    height: 1000px;
    width: 1000px;
    /* background-color: red; */
    overflow: hidden;
}
#game-background {
    border-radius: 25px;
    z-index: -1;
}
#menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 50px;
    height: fit-content;
    width: 400px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    /* background-color: rgb(203, 160, 174); */
    border-radius: 25px;
}
.menu-container-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(72, 157, 181, 0.5); */
    z-index: 9999;
}
.menu-button {
    position: relative;
    height: 75px;
    width: 75px;
    margin-right: 10px;
    z-index: 10;
}
#cat-info p {
    position: relative;
    align-self: center;
    text-align: center;
    font-weight: 500;
    font-family: Varela;
    color: rgb(71, 79, 87);
    margin-bottom: -8px;
    z-index: 1;
}
#cat-info-title {
    font-weight: 500;
    font-size: 30pt;
    font-family: Varela;
    top: -5px;
    margin-bottom: 15px;
}
.cat-info-all {
    position: relative;
    font-size: 15pt;
}
#button-container {
    position: absolute;
    align-self: center;
    top: 365px;
}
#menu-background {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 400px;
    z-index: 0;
}
#name-input {
    position: absolute;
    align-self: center;
    font-size: 15pt;
    font-family: Varela;
    text-align: center;
    top: 290px;
    height: 50px;
    width: 250px;
    margin-bottom: 25px;
    border-radius: 25px;
    border-color: rgba(0,0,0,0);
    background-color: #ebe09f;
    z-index: 10;
}
#name-input::placeholder {
    text-align: center;
}
#name-input::selection {
    background-color: rgb(173, 121, 210);
    color: white;
}
#name-input:focus {
    outline: none;
}
#temp-instruction {
    position: absolute;
    top: 200px;
}

.account-input {
    align-self: center;
    font-size: 15pt;
    font-family: Varela;
    text-align: center;
    height: 50px;
    width: 250px;
    margin-bottom: 25px;
    border-radius: 25px;
    border-color: rgba(0,0,0,0);
    background-color: #ebe09f;
    z-index: 9999;
}
.account-input::placeholder {
    text-align: center;
}
.account-input::selection {
    background-color: rgb(173, 121, 210);
    color: white;
}
.account-input:focus {
    outline: none;
}

#cat-notifications {
    position: absolute;
    top: 50px;
    left: 450px;
    height: 470px;
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
    /* background-color: red; */
    overflow: hidden;
}


#account-message {
    position: absolute;
    font-size: 15pt;
    height: fit-content;
    width: 60%;
    margin-top: 75px;
    /* background-color: red */
}
#account-input-container {
    position: absolute;
    width: fit-content;
    margin-top: 150px;
    /* background-color: rgba(173, 29, 216, 0.5); */
}
#password-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    /* background-color: rgba(29, 216, 48, 0.5); */
}
#password-input {
    margin-bottom: 0px;
}
#toggle-button {
    cursor: pointer;
    position: absolute;
    height: 40px;
    margin-left: 205px;
    z-index: 9999;
}
#account-button-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 67%;
    margin-top: 305px;
    margin-left: -10px;
    /* background-color: rgba(181, 72, 72, 0.5); */
}
#abl,
#abs {
    max-width: 50%;
    cursor: pointer;
    z-index: 9999;
}